@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #0C0C0C;
    color: white;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: #1F1F1F;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.14);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #0C0C0C url(../imagens/building.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 1em;
    text-align: center;
}

form > div.campo {
    background-color: rgb(58, 57, 57);
    border: 1px solid rgb(58, 57, 57);
    width: 100%;
    display: block;
    height: 30px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    font-size: 2em;
    width: 30px;
    padding: 5px;
}

div.campo > input {
    font-size: 1em;
    width: calc(100% - 29px);
    height: 100%;
   
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-2.5px);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: rgb(97, 96, 96);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    
    background-color: rgb(234, 221, 221);
    color: rgba(0, 0, 0, 0.737);
    border: 1px solid rgb(97, 96, 96);
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: rgb(97, 96, 96);
}

form > a.botao > i {
    font-size: 0.8em;
}